<html>
<head>
    <title></title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script>
        angular.module('finance3', [])
         .factory('currencyConverter', ['$http', function ($http) {
             var YAHOO_FINANCE_URL_PATTERN =
                   '//query.yahooapis.com/v1/public/yql?q=select * from ' +
                   'yahoo.finance.xchange where pair in ("PAIRS")&format=json&' +
                   'env=store://datatables.org/alltableswithkeys';
             var currencies = ['USD', 'EUR', 'CNY'];
             var usdToForeignRates = {};

             var convert = function (amount, inCurr, outCurr) {
                 return amount * usdToForeignRates[outCurr] / usdToForeignRates[inCurr];
             };

             var refresh = function () {
                 var url = YAHOO_FINANCE_URL_PATTERN.
                            replace('PAIRS', 'USD' + currencies.join('","USD'));
                 return $http.get(url).then(function (response) {
                     var newUsdToForeignRates = {};
                     angular.forEach(response.data.query.results.rate, function (rate) {
                         var currency = rate.id.substring(3, 6);
                         newUsdToForeignRates[currency] = window.parseFloat(rate.Rate);
                     });
                     usdToForeignRates = newUsdToForeignRates;
                 });
             };

             refresh();

             return {
                 currencies: currencies,
                 convert: convert
             };
         }]);

        angular.module('invoice3', ['finance3'])
        .controller('InvoiceController', ['currencyConverter', function InvoiceController(currencyConverter) {
            this.qty = 1;
            this.cost = 2;
            this.inCurr = 'EUR';
            this.currencies = currencyConverter.currencies;

            this.total = function total(outCurr) {
                return currencyConverter.convert(this.qty * this.cost, this.inCurr, outCurr);
            };
            this.pay = function pay() {
                window.alert('Thanks!');
            };
        }]);
    </script>
</head>
<body>
    <div ng-app="invoice3" ng-controller="InvoiceController as invoice">
        <b>Invoice:</b>
        <div>
            Quantity: <input type="number" min="0" ng-model="invoice.qty" required>
        </div>
        <div>
            Costs: <input type="number" min="0" ng-model="invoice.cost" required>
            <select ng-model="invoice.inCurr">
                <option ng-repeat="c in invoice.currencies">{{c}}</option>
            </select>
        </div>
        <div>
            <b>Total:</b>
            <span ng-repeat="c in invoice.currencies">
                {{invoice.total(c) | currency:c}}
            </span><br>
            <button class="btn" ng-click="invoice.pay()">Pay</button>
        </div>
    </div>
</body>
</html>
